<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MiConnectionString" connectionString="Data Source=DESKTOP-RTIG27T\SQLEXPRESS;Initial Catalog=pruebademo;User ID=sa;Password=sasa;" />
  </connectionStrings>
</configuration>